// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower

$green: #00ffff;

body {
	background-color: $green;

	h1 {
		font-family: sans-serif;
	}
}

