{% extends "base.html" %}

{% block content %}
<ul>
{% for place in historic_places %}
	<li>
        <a href="{% url 'place-detail' place.slug %}">{{ place.name }}</a>
        <br>
        <a href="{{ place.wikipedia_url }}"></a>
    </li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <span class="move-page"><a href="?page=1">first</a></span>
            <span class="move-page"><a href="?page={{ page_obj.previous_page_number }}">previous</a></span>
        {% endif %}

        <span class="current">
            <em>
                Page {{ page_obj.number }} of {{ paginator.num_pages }}
            </em>
        </span>

        {% if page_obj.has_next %}
            <span class="move-page"><a href="?page={{ page_obj.next_page_number }}">next</a></span>
            <span class="move-page"><a href="?page=last">last</a></span>
        {% endif %}

    </span>
</div>

{% endblock %}